<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Members App</title>
  <style>
    .body{
    background-color: rgb(198, 248, 248);
    }

    .grid{
      display:grid;
      grid-template-columns:  1fr 1fr 1fr 1fr;
      grid-gap: 1em;
     }

    .grid > div{
      background:#eee;
      padding: 1em;
    }

    .grid > div:nth-child(odd){
      background:#ddd;
      padding: 1em;
    }

    @media screen and (max-width: 1080px){
      .grid{
    display:grid;
    grid-template-columns:  1fr 1fr ;
    grid-gap: 1em;
  }
    }


  </style>


</head>

<body class="body" >
  <div class="container mt-4">
    {{{body}}}
  </div>
</body>

</html>